body {
    background-image: url("Achtergrond_squad.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 200px;
    height: auto;
}

header {
    text-align: center;
}.search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}




.card-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card-preview img {
    width: 250px;
    height: auto;
}

.card-preview div {
    text-align: center;
}

.arrow {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}