* {
    box-sizing: border-box;
}

:root {
    --achtergrondkleur: black;
    --tekstkleur: #8f4c91;
    --vakkleur2: #FFF56B;
    --tekstkleur2: #8f4c91;
    --knopkleuractief: #ff8400;
    --vakkleur: #FFF89C;

    --onzichtbaarZwart: #00000000;

    --icon-kleur: #8f4c91;
}

section:nth-of-type(1):target~nav>a:nth-child(1),
section:nth-of-type(2):target~nav>a:nth-child(2),
section:nth-of-type(3):target~nav>a:nth-child(3),
section:nth-of-type(4):target~nav>a:nth-child(4) {
    border-color: var(--tekstkleur);
    translate: 0 -2rem;

    @media (min-width: 30rem) {
        translate: 2rem 0;
    }
}

body {
    background-color: var(--achtergrondkleur);
    display: grid;
    padding: 1rem;
    margin: 0;

    grid-template-columns: [navigatie sectie] 1fr;
    grid-template-rows: [sectie] 1fr [navigatie] max-content;

    grid-auto-flow: row;

    gap: 1em;

    width: 100vw;
    height: 100vh;

    @media (min-width: 30rem) {
        grid-template-columns: [navigatie] max-content [sectie] 1fr;
        grid-template-rows: [navigatie sectie] 1fr;
    }

}

h1 {
    margin-top: 0;
}

nav {
    grid-column: navigatie / span 1;
    grid-row: navigatie / span 1;
    justify-self: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;


    @media (min-width: 30rem) {
        flex-direction: column;
    }


    a {
        transition: translate 0.5s, border 0.5s;
        border: 2px solid var(--onzichtbaarZwart);
        
        display: flex;
        align-items: center;

        padding: 0.5rem;
        border-radius: 1rem;

        svg {
            width: 2rem;
            height: 2rem;
            
            --icoon-kleur: var(--tekstkleur);
        }
    }
    span {
        display: none;
        @media (min-width: 30rem) {
            margin-left: 0.5rem;
            display: block;
        }
    }
}

nav > a {
    background-color: var(--vakkleur);
    color: var(--tekstkleur);
}

button {
    transition: background-color 0.5s;
    background-color: var(--vakkleur2);
    color: var(--tekstkleur);
    border: 0;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
}

button:hover {
    background-color: var(--knopkleuractief);
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;

    input {
        height: 3rem;
        width: 8rem;
        padding-right: 3rem;
    }

    button {
        background-color: var(--onzichtbaarZwart);
        translate: -3rem 0;
        cursor: pointer;
    }

    button:hover {
        background-color: var(--tekstkleur);
    }
    svg {
        display: block;
        width: 2rem;
        --icoon-kleur: black;
    }
}

section {
    grid-column: sectie / span 1;
    grid-row: sectie / span 1;

    background-color: var(--vakkleur);
    color: var(--tekstkleur);

    /*De <section>-elementen worden pas zichtbaar als je via een <a> naar ze gaat.*/
    display: none;
    text-align: center;
    /*Er kan nu een container-query gebruikt worden die de breedte van deze section gebruikt.*/
    container-type: inline-size;

    border-radius: 1rem;

    overflow: auto;
    padding: 1rem;

    width: 100%;
    height: 100%;
}

section:target {
    /*Zichtbaar als je via een <a> er naartoe gaat.*/
    display: unset;
}

/*Dit voorkomt dat er een rand rond de section getekend wordt bij het openen/herladen van de pagina. */
section:focus-visible {
    outline: none;
}

.kaartBrowser {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: [links kaarten zoek] 1fr [rechts] 1fr [zoek-einde kaarten-einde];
    grid-template-rows: [links rechts] min-content [kaarten] 1fr [zoek] min-content;
    gap: 0.5rem;
    padding-bottom: 0.5rem;

    /*Dit wordt uitgevoerd als het section-element minstens zo breed is als de opgegeven breedte.*/
    @container (width > 30rem) {
        grid-template-columns: [links zoek] max-content [kaarten] 1fr [kaarten-einde rechts] max-content [zoek-einde];
        grid-template-rows: [links rechts kaarten] 1fr [zoek] min-content;
    }
}

.kaartBrowser > search {
    grid-column: zoek / zoek-einde;
}

.kaartBrowser > button {
    display: flex;
    justify-content: center;
    align-items: center;

    align-self: center;

    svg {
        width: 2rem;
        display: block;
        --icoon-kleur: var(--tekstkleur);
    }

    &:nth-of-type(1) {
        grid-area: links;
        justify-self: start;

        transform: scaleX(-1);
    }
    &:nth-of-type(2) {
        grid-area: rechts;
        justify-self: end;
    }
}

.visitekaartjes {
    grid-column: kaarten / kaarten-einde;
    grid-row: kaarten;

    /*Scroll-snapping is verplicht in de x-richting. De snap-locaties worden bepaald door de <article>-elementen*/
    scroll-snap-type: x mandatory;

    justify-self: stretch;
    align-self: stretch;

    overflow-x: auto;
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));

    grid-auto-flow: column;

    grid-auto-columns: 18rem;
}

.visitekaartjes > article {
    /*De linkerkant van een <article> is een scroll-snap-locatie*/
    scroll-snap-align: start;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content min-content;
    border-radius: 1rem;
    background-color: var(--vakkleur2);

    justify-items: center;

    gap: 0.5rem;

    &.verdwenen {
        display: none;
    }

    h2 {
        font-size: 1.2rem;
        font-weight: normal;
        order: 2;
        margin: 0;
        background-color: var(--vakkleur);
        padding: 0.5rem;
        border-radius: 1rem;
    }

    div {
        order: 1;
        align-self: stretch;
        justify-self: stretch;
        position: relative;
        display: flex;
        justify-content: center;
    }

    img {
        position: absolute;
        object-fit: contain;
        object-position: top;
        max-width: 100%;
        max-height: 100%;
        border-radius: 1rem;
    }

    a {
        color: var(--tekstkleur);
        order: 3;
    }
}
