* {
    box-sizing: border-box;
}

:root {
    --tekstkleur: #8f4c91;
    --vakkleur: #FFF89C;
}

body {
    background-color: black;
}

nav {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 1rem;
    gap: 1rem;

    width: 100vw;
    height: 100vh;

    width: 100%;
    justify-items: stretch;
    align-items: stretch;
}

a {
    transition: 0.5s;
    background-color: var(--vakkleur);
    color: var(--tekstkleur);
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border-radius: 1rem;

    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: var(--vakkleur);
    background-color: var(--tekstkleur);
}
